@media (min-width: 1200px) {
  .container {
      max-width: 970px;
  }
}
@media (min-width:400px){
  .global-search {
    padding: 20px 0;
    /* text-align:center; */
  }

  
  .global-search {
    /* text-align:center; */
    padding:10px;
  }

  
  .global-search * {
    display:inline-block;
    margin-bottom:0;
  }

  .header {
    /* border: 1px solid black; */
    padding: 5% 5% 2%;
    /* background-image: linear-gradient(to right,#ECBCB4,#A1665E); */
    background-color: #f4f4f4;
    color: black;
  }

  .title{
    margin-bottom: 10vh;
  }

  .title h1 {
    font-weight: 200 !important;
    font-variant: small-caps;
  }

  .query {
    border: 0.1px solid #dcc9c9;
    margin: auto;
    height: 20vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2dede;
    /* background-image: linear-gradient(to top,#46150c,#942b1d); */
    border-radius: 10px;;
    text-align: center;
  }

  .query p {
    font-size: 3vh;
    font-weight: 200;
    color: #090000;
  }

  .results {
    padding: 5%;
    background-color: #f2dede;
    /* background-image: linear-gradient(to top,#46150c,#942b1d); */
    color: black;
  }

  .results p{
    font-size: 2vh;
  }

  .results h4{
    font-weight: 300;
    font-size: 2.5vh;
    margin-bottom: 1.5vh;
  }

  .product {
    border-radius: 1vh;
    padding: 3vh;
    background-color: #ECBCBB;
    width: 100%;
    min-height: 100px;
    margin: 1vh 0vw;
  }

  .col {
    text-align: center;
    margin: auto;
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  /* padding: 5%; */
  /* border: 5px solid black; */
/* padding-top: 5%;
padding-bottom: 15px; */
}

.global-search .form-group {
  width: 80%;
}

.global-search .form-control {
  width:100%;
  border-radius: 1.5vh;
}

.topcorner{
  position:absolute;
  top:2%;
  right:2%;
}

.btn{
  background-color: black !important;
  border: none !important;
}


.step-links a{
color: #4285F4;
}