@media (min-width: 1200px) {
  .container {
      max-width: 970px;
  }
}
@media (min-width:400px){
  .global-search {
    /* text-align:center; */
    margin: 0;
  }
  
  .global-search * {
    display:inline-block;
    margin-bottom:0;
  }

  .header, .info{
    /* border: 1px solid black; */
    /* padding: 5% 5% 2%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(to right,#ECBCB4,#A1665E); */
    /* background-color: #f4f4f4; */
    color: black;
  }

  .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title h1 {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 5vh;
    font-weight: 500 !important;
    /* font-variant: small-caps; */
  }

  .title p {
    font-size: 1.5vh;
    color: #656565;
  }

  .query {
    /* border: 0.1px solid #dcc9c9; */
    /* width: 70%; */
    /* background-color: #f2dede; */
    /* background-image: linear-gradient(to top,#46150c,#942b1d); */
    border-radius: 10px;;
    text-align: center;
    margin-bottom: 2vh;
  }

  .query p {
    font-size: 3vh;
    font-weight: 200;
    color: #090000;
  }

  .results-page {
    height: 100vh;
    display: flex;
    /* background-color: #f2dede; */
    /* background-image: linear-gradient(to top,#46150c,#942b1d); */
    color: black;
  }

  .results-page p{
    font-size: 2vh;
  }

  .results-page h4{
    font-weight: 300;
    font-size: 2.5vh;
    margin-bottom: 1.5vh;
  }

  .results .query {
    margin-bottom: 3vh;
  }

  .info {
    position: fixed;
    padding: 0 3vw;
    width: 35%;
  }

  .results {
    width: 65%;
    overflow-y: scroll;
    margin-left: 35%;
    padding: 5%;
    background-color: white;
  }

  .product {
    border-radius: 1vh;
    padding: 3vh;
    background-color: #f1efed;
    width: 100%;
    min-height: 100px;
    margin: 1vh 0vw;
  }

  .col {
    text-align: center;
    margin: auto;
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-image: linear-gradient(to top,#87BED0,#EFF2F9);
  /* padding: 5%; */
  /* border: 5px solid black; */
/* padding-top: 5%;
padding-bottom: 15px; */
}

.global-search .form-group {
  width: 50vw;
}

.global-search .form-control {
  width:100% !important;
  height: 6vh;
  border: none;
  border-radius: 1vh;
  background-color: #F1EFED;
  color: #333333;
  font-size: 2vh;;
}

.topcorner{
  position:absolute;
  top:2%;
  right:2%;
}

.btn{
  background-color: black !important;
  padding: 0 3vw im !important;
  margin-left: 3vw;
  border: none !important;
  border-radius: 2vh !important;
  height: 6vh;
  width: 7vw;
  font-size: 2vh !important;
}


.step-links a{
color: #4285F4;
}