<html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function() {
        $('input#helpful').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/increase',
                function(data) {
                    //do nothing
                });
            return false;
        });
    });
    $(function() {
        $('input#unhelpful').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/decrease',
                function(data) {
                    //do nothing
                });
            return false;
        });
    });
</script>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> -->
</head>

<body>
  <div class="{{ 'results-page' if data else 'header' }}">
    <div class="{{ 'info' if data else '' }}">
      <div class="title">
        <h1>
          <span style="font-weight: 900;">{{ name[0] }}</span>
          <span style="font-family: Brush Script MT, Brush Script Std, cursive;">{{ name[1] }}</span>
        </h1>
        <p style="font-size: 1.5vh;">by {{ netid }}</p>
      </div>
      {% if data %}
      <div class="tip">
        <h3>Top Tip!</h3>
        <p>{{ tip }}</p>
        <a href={{ tip_data["source"] }}>Learn More</a>

        <div class="feedback">
          <p>Was this helpful?</p>
          <form>
            <!-- <input type="image" id="helpful" src="../static/thumbs_up.png" alt="helpful" height="20">
            <input type="image" id="unhelpful" src="../static/thumbs_down.png" alt="unhelpful" height="20"> -->
            <span class="material-icons" id="unhelpful">
              thumb_up{{ '_off_alt'if True}}
            </span>
            <span class="material-icons" id="helpful">
              thumb_down{{ '_off_alt'if True}}
            </span>
          </form>
        </div>
      </div>
      {% endif %}
    </div>

    <div class="{{ 'results' if data else '' }}">
      <div class="query">
        <form class="form-inline global-search">
          <div class="form-group">
            <input id="input" type="search" name="search" class="form-control"
              placeholder="What are your skin care concerns?" aria-label="Type your skin care concerns" {% if query %}
              value="{{ query }}" {% endif %}>
          </div>
          <!-- <button type="submit" class="btn btn-info"> Search </button> -->

          <div class="filters">
            <!-- <label for="product-type">Product Type:</label> -->
            <select name="product-type" id="product-type">
              <option value="" disabled selected>Product Type:</option>
              <option value="all" {% if product_type==None %} selected {% endif %}>All Products</option>
              <!-- <option value="acne_products">Acne Treatments</option>
              <option value="aha_products">AHA Products</option>
              <option value="bha_products">BHA Products</option> -->
              {% for p in product_types %}
              <option value="{{ p }}" {% if p==product_type %} selected {% endif %}>{{ p }}</option>
              {% endfor %}
            </select>

            <!-- <label for="skin-type">Skin Type:</label> -->
            <select name="skin-type" id="skin-type">
              <option value="" disabled selected>Skin Type:</option>
              <option value="all" {% if skin_type==None %} selected {% endif %}>
                Any Skin
              </option>
              <option value="oily" {% if skin_type=="oily" %} selected {% endif %}>
                Oily Skin
              </option>
              <option value="dry" {% if skin_type=="dry" %} selected {% endif %}>
                Dry Skin
              </option>
              <option value="combo" {% if skin_type=="combo" %} selected {% endif %}>
                Combo Skin
              </option>
            </select>

            <!-- <label for="sensitivity">Skin Sensitivity:</label> -->
            <select name="sensitivity" id="sensitivity">
              <option value="" disabled selected>Sensitivity:</option>
              <option value="all" {% if sensitive==None %} selected {% endif %}>
                Any Sensitivity
              </option>
              <option value="high" {% if sensitive %} selected {% endif %}>
                High Sensitivity
              </option>
              <option value="low" {% if sensitive==False %} selected {% endif %}>
                Low Sensitivity
              </option>
            </select>

            <!-- <label for="price-range">Price Range:</label> -->
            <select name="price-range" id="price-range">
              <option value="" disabled selected>Price Range:</option>
              <option value="all" {% if price_range==None %} selected {% endif %}>Any Price</option>
              {% for p in price_ranges %}
              <option value="{{ p }}" {% if p==price_range %} selected {% endif %}>{{ p }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-info"> Search </button>

        </form>
      </div>

      {% if data %}
      <form class="form-inline global-search">
        <p style="color: #71777b; ">{{output_message}}</p>
        {% for d in data %}
        <br>
        <a class="product" href="{{ d[1]['link'] }}">
          <div>
            <div class="name">
              <div>
                <h4>{{ d[0] }}</h4>
              </div>
              <div>
                <p>{{ d[1]["brand"] }}</p>
              </div>
            </div>
            <div class="price">
              <p>${{ d[1]["price"] }}</p>
            </div>
            <div class="claims">
              <p>{{ d[1]["claims"] }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </form>
    </div>
    {% endif %}
  </div>


</body>

</html>