<html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function() {
        $('span#helpful').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/increase',
                function(data) {
                });
            $('span#helpful').innerHTML = "thumbs_up_alt_off";
            return false;
        });
    });
    $(function() {
        $('span#unhelpful').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/decrease',
                function(data) {
                    {#$('span#helpful').ma#}
                });
            return false;
        });
    });
</script>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> -->
</head>

<body>
  <div class="{{ 'results-page' if query else 'header' }}">
    <div class="{{ 'info' if query else '' }}">
      <div class="title">
        <h1>
          <span style="font-weight: 900;">{{ name[0] }}</span>
          <span style="font-family: Brush Script MT, Brush Script Std, cursive;">{{ name[1] }}</span>
        </h1>
        <p style="font-size: 1.5vh;">by {{ netid }}</p>
      </div>
      {% if data %}
      <div class="tip">
        <h3>Top Tip!</h3>
        <p>{{ tip }}</p>
        <a href={{ tip_data["source"] }}>Learn More</a>

        <div class="feedback">
          <p>Was this helpful?</p>
          <form>
            <!-- <input type="image" id="helpful" src="../static/thumbs_up.png" alt="helpful" height="20">
            <input type="image" id="unhelpful" src="../static/thumbs_down.png" alt="unhelpful" height="20"> -->
            <span class="material-icons" id="helpful">
              thumb_up{{ '_off_alt'if True}}
            </span>
            <span class="material-icons" id="unhelpful">
              thumb_down{{ '_off_alt'if True}}
            </span>
          </form>
        </div>
      </div>
      {% endif %}
    </div>

    <div class="{{ 'results' if query else '' }}">
      <div class="query">
        <form class="form-inline global-search">
          <div class="form-group">
            <input id="query" type="search" name="search" class="form-control"
              placeholder="What are your skin care concerns?" aria-label="Type your skin care concerns" {% if query %}
              value="{{ query }}" {% endif %}>
          </div>
          <!-- <button type="submit" class="btn btn-info"> Search </button> -->

          <div class="filters">
            <!-- <label for="product-type">Product Type:</label> -->
            <select name="product-type" id="product-type">
              <option value="" disabled selected>Product Type:</option>
              <option value="all" {% if product_type==None %} selected {% endif %}>All Products</option>
              <!-- <option value="acne_products">Acne Treatments</option>
              <option value="aha_products">AHA Products</option>
              <option value="bha_products">BHA Products</option> -->
              {% for p in product_types %}
              <option value="{{ p }}" {% if p==product_type %} selected {% endif %}>{{ p }}</option>
              {% endfor %}
            </select>

            <!-- <label for="skin-type">Skin Type:</label> -->
            <select name="skin-type" id="skin-type">
              <option value="" disabled selected>Skin Type:</option>
              <option value="all" {% if skin_type==None %} selected {% endif %}>
                Any Skin
              </option>
              <option value="oily" {% if skin_type=="oily" %} selected {% endif %}>
                Oily Skin
              </option>
              <option value="dry" {% if skin_type=="dry" %} selected {% endif %}>
                Dry Skin
              </option>
              <option value="combo" {% if skin_type=="combo" %} selected {% endif %}>
                Combo Skin
              </option>
            </select>

            <!-- <label for="sensitivity">Skin Sensitivity:</label> -->
            <select name="sensitivity" id="sensitivity">
              <option value="" disabled selected>Sensitivity:</option>
              <option value="all" {% if sensitive==None %} selected {% endif %}>
                Any Sensitivity
              </option>
              <option value="high" {% if sensitive %} selected {% endif %}>
                High Sensitivity
              </option>
              <option value="low" {% if sensitive==False %} selected {% endif %}>
                Low Sensitivity
              </option>
            </select>
          </div>

          <div class="price-filter">
            <!-- <label for="price-range">Price Range:</label> -->
            <p style="font-size: 14px; font-weight:bold;">Price Range</p>

            <div class="content">
              From
              $ <input id="price-min" type="number" name="price-min" placeholder="0" value="{{ price_min }}">
              to
              $ <input id="price-max" type="number" name="price-max" placeholder="1000" value="{{ price_max }}">

              <!-- <div class="slider">
                <input type="range" min="0" max="1000" value="{{ price_min }}" id="lower">
                <input type="range" min="0" max="1000" value="{{ price_max }}" id="upper">
              </div> -->
            </div>
          </div>

          <button type="submit" class="btn btn-info"> Search </button>

        </form>
      </div>

      {% if query %}
      {% if data %}
      <form class="form-inline global-search">
        <p class="output-message" style="margin-left: 4%;">{{output_message}}</p>
        <div class="products">
          {% for d in data %}
          <a href="{{ d[1]['link'] }}">
            <div class="product-wrapper">
              <img src="{{ d[3] }}">
              <div class="product">
                <div class="stars">
                  {% for i in range(d[2]) %}
                  <span class="material-icons">
                    star
                  </span>
                  {% endfor %}
                  {% for i in range(5-d[2]) %}
                  <span class="material-icons">
                    star_outline
                  </span>
                  {% endfor %}
                </div>
                <div class="name">
                  <h4>{{ d[0] }}</h4>
                </div>
                <div class="price">
                  <h4>${{ d[1]["price"] }}</h4>
                </div>
                <div class="brand-score">
                  <div>
                    <h5>Brand</h5>
                    <p>{{ d[1]["brand"] }}</p>
                  </div>
                  <!-- <div style="margin-left: 3vw;">
                  <h5>Score</h5>
                  <p>{{ d[2] }}</p>
                </div> -->
                </div>
                <div class="claims">
                  <h5>Claims</h5>
                  <p>{{ d[1]["claims"] }}</p>
                </div>
              </div>
              <!-- </a> -->
            </div>
          </a>
          {% endfor %}
        </div>
      </form>
      {% endif %}

      {% if not data %}
      <div class="no-results">
        <div>
          <span class="material-icons" style="color:#b9b9b9;">
            sentiment_very_dissatisfied
          </span>
          <span class="material-icons md-48" style="font-size: 8vh; color: #716f6f; margin-left: -5vw;">
            search
          </span>
        </div>
        <h4>"{{ query }}"</h4>
        <h3>No Results Found</h3>
        <h5 class="output-message">{{output_message}}</h5>
      </div>
      {% endif %}
      {% endif %}
    </div>
  </div>


</body>

</html>