<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>

<body>

  {% if not data %}
  <div class="header">
    <div class="title">
      <h1>{{ name }}</h1>
      <p>by {{ netid }}</p>
    </div>

    <div class="query">
      <form class="form-inline global-search">
        <div class="form-group">
          <input id="input" type="text" name="search" class="form-control"
            placeholder="What are your skin care concerns?">
        </div>
        <button type="submit" class="btn btn-info"> Go! </button>
      </form>
    </div>
  </div>
  {% endif %}


  {% if data %}
  <div class="results-page">
    <div class="info">
      <div class="title">
        <h1>{{ name }}</h1>
        <p>by {{ netid }}</p>
      </div>
        <div class="tip">
            <p>Top tip! {{ tip }}</p>
            <a href={{ tip_data["source"] }}>Source</a>
        </div>
    </div>

    <div class="results">
      <div class="query">
        <form class="form-inline global-search">
          <div class="form-group">
            <input id="input" type="text" name="search" class="form-control"
              placeholder="What are your skin care concerns?">
          </div>
          <!-- <button type="submit" class="btn btn-info"> Go! </button> -->
        </form>
      </div>

      <form class="form-inline global-search">
        <p style="color: #71777b; ">{{output_message}}</p>
        {% for d in data %}
        <br>
        <div class="product">
          <div style="display:block;">
            <h4>{{d[0]}}</h4>
          </div>
          <div style="display:block;">
            <p>by {{d[1]}}</p>
          </div>
          <div style="display:block;">
            <p>${{d[2]}}</p>
          </div>
        </div>
        {% endfor %}
      </form>
    </div>
  </div>
  {% endif %}


</body>

</html>